BOT_TOKEN=replace_me
ADMIN_USERNAME=yourtelegramusername
PRIVATE_TELEGRAM_USERNAME=@your_private_username
RELAY_ADMIN_GROUP_ID=-1001234567890
PAYMENT_URL=https://paypal.me/mirage22m
ACCESS_DURATION_DAYS=30
OFAUTH_API_KEY=replace_me_if_using_ofauth
OFAUTH_CONNECTION_ID=replace_me_if_using_ofauth
OFAUTH_TIMEOUT_SECONDS=10
OFAUTH_MAX_PAGES=5
